@{
    ViewBag.Title = "About this Application";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3></h3>

    <p style="font-style: italic;">The purpose of this site is to share some games that I think you can play and have fun.</p>
</main>