@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>If you find some problems, Welcome to contact me</h3>

    <address>
        HeiBei University of Technology<br />
        TianJin, HongQiao District<br />
        Phone: +86 15030202685<br />
        Name: Junkai Wang<br />
        MasseyID: 22009330
    </address>

    <address>
        <strong>QQSupport:</strong>   <a href="mailto:Support@example.com">2971106303@qq.com</a><br />
        <strong>163Support:</strong> <a href="mailto:Marketing@example.com">15030202685@163.com</a>
    </address>
</main>