@{
    ViewBag.Title = "Home Page";
}


<div id="imageSlider">
    <img src="~/Content/Images/379720_library_hero.jpg" />
    <img src="~/Content/Images/374320_library_hero.jpg" />
    <img src="~/Content/Images/231430_library_hero.jpg" />
    <img src="~/Content/Images/1245620_library_hero.jpg" />
    <img src="~/Content/Images/394360_library_hero.jpg" />
    <img src="~/Content/Images/730_library_hero_schinese.jpg" />
    <img src="~/Content/Images/1237970_library_hero.jpg" />
    <img src="~/Content/Images/1174180_library_hero.jpg" />

</div>

<div>
    <h1 id="head">GAME INTRO</h1>
</div>


<div class="imageeva">
    <img src="~/Content/Images/379720_library_600x900.jpg" />
    <p>You’ve come here for a reason. The Union Aerospace Corporation’s massive research facility on Mars is overwhelmed by fierce and powerful demons, and only one person stands between their world and ours. As the lone DOOM Marine, you’ve been activated to do one thing – kill them all.</p>
</div>
<div class="imageeva">
    <img src="~/Content/Images/374320_library_600x900.jpg" />
    <p>
        As fires fade and the world falls into ruin, journey into a universe filled with more colossal enemies and environments. Players will be immersed into a world of epic atmosphere and darkness through faster gameplay and amplified combat intensity. Fans and newcomers alike will get lost in the game hallmark rewarding gameplay and immersive graphics.
        Now only embers remain… Prepare yourself once more and Embrace The Darkness!
    </p>
</div>
<div class="imageeva">
    <img src="~/Content/Images/231430_library_600x900.jpg" />
    <p>Powered by the Essence Engine 3.0, the Company of Heroes 2 series feature some unique mechanics rewarding thoughtful players. From the TrueSight™ system that emulates the units’ line of sight to the cover-system that encourages clever unit placement – not to mention the combined arms approach and the hard and soft counters gameplay that will make you think twice before trying to destroy a tank with a simple squad of riflemen – each game presents players with an uninterrupted stream of meaningful tactical choices that can turn the tide of war.</p>
</div>
<div class="imageeva">
    <img src="~/Content/Images/1245620_library_600x900.jpg" />
    <p>
        THE NEW FANTASY ACTION RPG.
        Rise, Tarnished, and be guided by grace to brandish the power of the Elden Ring and become an Elden Lord in the Lands Between.
    </p>
</div>

<div class="imageeva">
    <img src="~/Content/Images/394360_library_600x900.jpg" />
    <p>Paradox Interactive's latest installment in the popular strategy series, Iron Ambition 4, has released a realistic version of the World War II documentary trailer, featuring Hitler, Churchill, Stalin, Roosevelt and others. There is no doubt that the story will unfold in the context of the anti-fascist war, with the Normandy landings, the Winter Offensive and the atomic bombing of Hiroshima all present in the game.</p>
</div>

<div class="imageeva">
    <img src="~/Content/Images/730_library_600x900_schinese.jpg" />
    <p>For over two decades, Counter-Strike has offered an elite competitive experience, one shaped by millions of players from across the globe. And now the next chapter in the CS story is about to begin. This is Counter-Strike 2.</p>
</div>


<link rel="stylesheet" href="~/Content/ImageSilder.css" />
<link rel="stylesheet" href="~/Content/Imageeva.css" />
<script src="~/Scripts/ImageSlider.js"></script>

